.header-links {
	display: flex;
	flex-direction: row;

	justify-content: center;

	.header-link {
		&:not(:last-child) {
			padding-right: 1em;
		}

		display: block;

		a {
			text-decoration: none;
		}

		a.is-active {
			text-decoration: underline;
		}
	}
}
